@import "~bootswatch/dist/sandstone/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/sandstone/bootswatch";


$font-stack: Helvetica, sans-serif;
$primary-color: purple;
$complementary-color: white;

body {
  font: 100% $font-stack;
}

header {
   margin-top: 0px;
   background-color: $primary;
   color: $complementary-color;
}

.navbar-spacedown {
  padding-top: 0.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: $primary;
  color: $complementary-color;
}

//overriding the classes from Sandstone for navigation colors

.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $primary !important;
}

.bg-light {
  background-color: $gray-200 !important;
}

.sandstone {
  font-size: 11px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
}